In [42]:
import time, os
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from tqdm.auto import tqdm

URL = 'https://www.sbiz.or.kr/hdst/main/ohndMarketList.do'
file_path = os.path.join(os.environ["HOMEPATH"], "Downloads/")

In [37]:
driver = webdriver.Chrome()
driver.get(url=URL)

# 리스트로 보기 클릭
driver.find_element(By.XPATH, '//*[@id="listBtn"]').click()
time.sleep(5)

result, result2, result3, result4, result5 = ([] for _ in range(5))

for i in tqdm(range(86)):
    if i > 84:
        for j in range(9):
            result.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[1]').text)
            result2.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[2]').text)
            result3.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[3]').text)
            result4.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[4]').text)
            result5.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[5]').text)
    else:
        for j in range(16):
            result.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[1]').text)
            result2.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[2]').text)
            result3.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[3]').text)
            result4.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[4]').text)
            result5.append(driver.find_element(By.XPATH, f'//*[@id="marketList"]/table/tbody/tr[{j+1}]/td[5]').text)
    
        if i < 5:
            driver.find_element(By.XPATH, f'//*[@id="contents"]/div[4]/a[{i+2}]').click()

        else:
            x = i % 5
            if i < 16:
                driver.find_element(By.XPATH, f'//*[@id="contents"]/div[4]/a[{x+3}]').click()
            else:
                driver.find_element(By.XPATH, f'//*[@id="contents"]/div[4]/a[{x+4}]').click()
        
    #time.sleep(1)

  0%|          | 0/86 [00:00<?, ?it/s]

In [39]:
df = pd.DataFrame([ x for x in zip(result, result2, result3, result4, result5)])
df.columns =['번호','업체명','업종','전화번호','위치']

In [40]:
df

        번호            업체명    업종          전화번호                              위치
0     1369  도투리 샤브칼국수 불광천  음식점업     023743202  서울특별시 은평구 증산로 303 (증산동, 태광아파트)
1     1368         평화문구상사  도소매업    0438523992           충청북도 충주시 국원대로 47(봉방동)
2     1367            완산정  음식점업    0313919933            경기도 군포시 번영로 508(금정동)
3     1366           오리산성  음식점업    0544555929       경상북도 구미시 박정희로 320-5 (광평동)
4     1365           용궁순대  음식점업    0546554554            경상북도 예천군 용궁면 용궁로 150
...    ...            ...   ...           ...                             ...
1364     5          제주뚝배기  음식점업  050714361089        제주특별자치도 서귀포시 성산읍 일출로 255
1365     4      해운대원조할매국밥  음식점업    0517311962      부산광역시 해운대구 구남로21번길 27 (우동)
1366     3         중앙미용학원  서비스업    0616866200          전라남도 여수시 선소로 106 (신기동)
1367     2           팔도강산  음식점업  050713354941          충청남도 보령시 대해로 893 (신흑동)
1368     1         성전사카센타  서비스업    0632525109  전북특별자치도 전주시 덕진구 권삼득로 216 (금암동)

[1369 rows x 5 columns]

In [43]:
df.to_excel(f"{file_path}확인.xlsx", index=False)